.mainAboutUSSectionDiv {
  margin-top: 4rem;
  text-align: center;
  label {
    color: teal;
    font-size: 2rem;
    font-weight: 600;
  }
}
.aboutUsDescripton {
  font-family: cursive;
  width: 85%;
  margin: auto;
  margin-bottom: 3rem;
}
